<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'EMDSapp.views.main_page' %}">
                Военная кафедра ВГУ
            </a>
            <ul class="nav pull-right">
                <li class="pull-right">
                    <p class="navbar-text">
{#                        <a href="${personal}">#}
{#                            <c:out value="${currentName.lastName}"/>#}
{#                            <c:out#}
{#                                    value="${currentName.firstName}"/>#}
{#                            <c:out value="${currentName.middleName}"/>#}
{#                        </a>#}
                    </p>
                </li>
                <li class="pull-right"><a href="${logout}">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>